/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bootstrap";
@import "bootswatch";

body {
  width: 100%;
  overflow-x: hidden;

  background-color: #000;

  height: auto;
}

hr {
  border-color: white;
}

header, .blocky {
  min-height: 100vh;
  height: auto;
  overflow: hidden;

  padding-top: $navbar-height;

  z-index: 0;
}

header {
  padding-top: 30vh !important;
}

.title {
  text-shadow: 0 1px 2px $opaque;
  letter-spacing: 2px;
}

footer {
  background-color: $gray-dark;
  height: 300px;
}

.bg {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  transform: scale(1.1);

  background-color: #000;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  z-index: -1;
}

.about {
  background-color: $brand;
  z-index: 1;
}

.offer {
  background-color: $brand-darker;
}
